<div class="container participant">
			
	<h1 id="title">Participants</h1>
	<ul id="list">
	
		<% @comp.meetings.each do |user| %>

				<% unless  user.email.blank? %>
						<li><%= user.email %><br/> </li>
						<!--The case where the email is not set because it is a relation of id's waala meeting-->
				<% end %>
					        	
		      	     	    	  
	    <% end %>


	    <% @comp.participants.each do |user| %>

				<li><%= user.email %><br/> </li>	        	
		      		     	    	  
	    <% end %>



	</ul>
</div>
			
