// Place all the styles related to the competitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/**************************************
STATIC LAYOUT CSS
**************************************/


//The wrapper with the two halves
.wrapper {
  /*  SECTIONS  */
    .section {
      clear: both;
      padding: 0px;
      margin: 0px;
    }

    /*  COLUMN SETUP  */
    .col {
      display: block;
      float:left;
     // margin: 1% 0 1% 1.6%;
    }
    .col:first-child { margin-left: 0; }


    /*  GROUPING  */
    .group:before,
    .group:after {
      content:"";
      display:table;
    }
    .group:after {
      clear:both;
    }
    .group {
        zoom:1; /* For IE 6/7 */
    }

    /*  GRID OF THREE  */
    .span_3_of_3 {
      width: 100%;
    }
    .span_2_of_3 {
      width: 78.1%;
      margin:5px;
    }
    .span_1_of_3 {
      width: 21%;
      padding-left: 10px;
      padding-right: 10px;
      ul{
        list-style: none;
        border: 1px solid #000;
       
        width:100%;
        padding: 5px;
        
      }
      

    }

    /*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

    @media only screen and (max-width: 800px) {
      
      .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }


    }

//The span with the pins
.span_2_of_3{

  #comp {
    margin: 0 auto;

  }


  .masonry-item {
    
    width: 320px;
    height:300px;
    
    background-color: white;
    border: 2px solid #ccc;

    .topp{
      width: 316px;
      height: 40px;
      
    }
  }

  .caption {
      
      overflow: hidden;
      p{
      	margin-bottom: 10px;
      }
  }

.caption h4 {
    white-space: nowrap;
}
.thumbnail{
	 margin: 13px;
	 .footerIcon1{
	 	margin-right:10px;
	 	margin-left: 10px;
    
	 }

	 .footerIcon2{
	 	margin-right:5px;
	 	margin-left: 68px;
	 }
}

.thumbnail img {
    width: 100%;
}

.footer {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: #d17581;
    position: absolute;
    width: 316px;
    height: 60px;
    bottom: 0;
    hr{
      margin-bottom: 10px;
    }
    .moreInfo{
      margin-right:10px;
      padding-bottom: 10px;
    }
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
}
}

//Search by college name and competition name in the header


.headerfield {
  display:flex;
  
  margin:1em auto;
  width:40%;
  flex-direction:row;

  position:relative;
 
  .twitter-typeahead .tt-query,
  .twitter-typeahead .tt-hint {
    width: 266px;
    height:37px;
    
  }
  .twitter-typeahead,#competition_search{
    width: 266px;
    height:37px;
    //padding: 10px;
    //background-color: red;
    border-radius: 0px
  }

  input[type=text],
  button {

    display:block;
    
  }

  input[type=text] {
    width: 266px;
    flex:1;
    padding:0.6em;
    border:0.2em solid rgb(26, 188, 156);
  }

  button {
    padding:0.6em 0.8em;
    background-color:rgb(26, 188, 156);
    color:white;
    border:none;
  }
}

//Search near above facet


.field {
  display:flex;
  
  margin:1em auto;
  width:80%;
  flex-direction:row;
  
  
  .twitter-typeahead,#address{
    width: 226px;
    //padding: 10px;
    //background-color: red;
    border-radius: 0px
  }

  input[type=text],
  button {

    //display:block;
    
  }

  input[type=text] {
    width: 226px;
    flex:1;
    padding:0.6em;
    border:0.2em solid rgb(26, 188, 156);
  }

  button {
    padding:0.6em 0.8em;
    background-color:rgb(26, 188, 156);
    color:white;
    border:none;
  }
}

//facets
.facets{


    nav{
      float: none; 
      clear: both;
      width: 90%; 
      margin: 10% auto;
      background: #eee;
    }

    nav ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
    }

    nav li{
      float: none; 
      width: 100%;
      border-right: 10px solid #3498db;
    }

    nav li a{
      display: block; 
      width: 100%; 
      padding: 20px; 
      
      position: relative; 
      z-index: 2;
      text-decoration: none;
      color: #444;
      box-sizing: border-box;  
      -moz-box-sizing: border-box;  
      -webkit-box-sizing: border-box; 
    }
      
    nav li a:hover{ border-bottom: 0px; color: #fff;}
    

    nav li a:after { 
      content: "";
      height: 100%; 
      right: 0; 
      top: 0; 
      width: 0px;  
      position: absolute; 
      transition: all 0.1s ease 0s; 
      -webkit-transition: all 0.1s ease 0s; 
      z-index: -1;
      background: #3498db;

    }

    nav li a:hover:after{ width: 100%; }
    

}

