// Place all the styles related to the competitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/**************************************
STATIC LAYOUT CSS
**************************************/

.wrapper {
  /*  SECTIONS  */
    .section {
      clear: both;
      padding: 0px;
      margin: 0px;
    }

    /*  COLUMN SETUP  */
    .col {
      display: block;
      float:left;
      margin: 1% 0 1% 1.6%;
    }
    .col:first-child { margin-left: 0; }


    /*  GROUPING  */
    .group:before,
    .group:after {
      content:"";
      display:table;
    }
    .group:after {
      clear:both;
    }
    .group {
        zoom:1; /* For IE 6/7 */
    }

    /*  GRID OF THREE  */
    .span_3_of_3 {
      width: 100%;
    }
    .span_2_of_3 {
      width: 78.1%;
      margin:5px;
    }
    .span_1_of_3 {
      width: 200px;
      padding-left: 10px;
      padding-right: 10px;
      ul{
        list-style: none;
        border: 1px solid #000;
       
        width:100%;
        padding: 5px;
        
      }
    }

    /*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

    @media only screen and (max-width: 800px) {
      .col { margin: 1% 0 1% 0%;}
      .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }


    }








#comp {
  margin: 0 auto;

}


.masonry-item {
  
  width: 320px;
  height:390px;
  
  background-color: white;
  border: 2px solid #ccc;
}

.caption {
    
    overflow: hidden;
    p{
    	margin-bottom: 10px;
    }
}

.caption h4 {
    white-space: nowrap;
}
.thumbnail{
	 margin: 13px;
	 .footerIcon1{
	 	margin-right:10px;
	 	margin-left: 10px;
    
	 }

	 .footerIcon2{
	 	margin-right:5px;
	 	margin-left: 68px;
	 }
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
}

