//Title

 

.boxed{
  
  .thetitle{
      
      
      //background-color: red;
  }
}

//Regist

//Button of register

.buttonn {
  padding: 10px;
  
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  border-radius: 0;
  margin: 20px;
  width: 228px;
  height: 48px;
  border: 1px solid #37474f;

    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    vertical-align: middle;
    padding: 1em 2em;
   
}
.buttonn:hover {
  
  background-color: #2ecc71;
}

//Red line
.redline{
  margin-bottom: 40px;
}

//The details on the right
.details {
  max-width: 520px; 
  background: #fff;
  margin: 1em auto;
  padding-bottom: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
}
.details header {
  border-bottom: 3px double #e9e9e9;
  padding: 1em 0;
  padding-bottom: 1em;
}





/* add padding  */



.details header h1 {
  text-align: center;
  font-size: 1.3em;
  color: #5f7796;
  font-weight: bolder;
}
.details header h2 {
  text-align: center;
  font-size: 1em;
  color: #94a9c3;
  font-weight: normal;
}
.details .button-submit {
  font-weight: regular;
  color: #fff;
  font-size: 1em;
  padding: 0.8em 2em;
  border-radius: 50em;
  border: none;
  background: #5f7796;
  margin: 1em auto 0.3em;
  display: block;
  transition: all 0.2s linear;
}
.details .button-submit:hover {
  background: #374558;
}
.details ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.details ul h3 {
  font-weight: normal;
  font-size: 1.2em;
}
.details ul .question {
  padding:1em;
  border-bottom: 1px solid #e9e9e9;
  
}
.details p{
  display: inline-block;
  padding-left: 10px;
}





.thebuttons
{
  

    *,
    *:after,
    *:before {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .cf:before,
    .cf:after {
      content: '';
      display: table;
    }
    .cf:after {
      clear: both;
    }
    .support {
      font-weight: bold;
      padding: 2em 0 0 0;
      font-size: 1.4em;
      color: #ee2563;
      display: none;
    }
    a {
      color: #7986cb;
      text-decoration: none;
      outline: none;
    }
    a:hover,
    a:focus {
      color: #3f51b5;
    }
    .hidden {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      pointer-events: none;
    }

    .box {
      padding: 4.5em;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      justify-content: center;
    }


    .content {
      height: 200px;
      padding: 1em 1em 1em;
      z-index: 1;
      max-width: 1000px;
      margin: 0 auto;
    }
    .content h2 {
      margin: 0 0 2em;
    }
    .content p {
      margin: 1em 0;
      padding: 0 0 2em;
      font-size: 0.85em;
    }

    .container {
      margin: 0 auto;
      text-align: center;
      overflow: hidden;
    }

    .main-header {
      padding: 1em 50px 1em;
      letter-spacing: -1px;
    }

    .box {
      padding: 4.5em 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      justify-content: center;
    }

    .bg-1 {
      background: #ECEFF1;
      color: #37474f;
    }
    .bg-2 {
      background: #95a5a6;
      color: #ECEFF1;
    }
    .bg-3 {
      background: #37474f;
      color: #fff;
    }

    /* Common button styles */
    .button {
      float: left;
      min-width: 150px;
      max-width: 250px;
      display: block;
      margin: 1em;
      padding: 1em 2em;
      border: none;
      background: none;
      color: inherit;
      vertical-align: middle;
      position: relative;
      z-index: 1;
      -webkit-backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
    }
    .button:focus {
      outline: none;
    }
    .button > span {
      vertical-align: middle;
    }

    /* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
    .bg-1 .button {
      color: #37474f;
      border-color: #37474f;
    }
    .bg-2 .button {
      color: #F2A477;
      border-color: #fff;
    }
    .bg-3 .button {
      color: #fff;
      border-color: #fff;
    }

    /* Sizes */
    .button--size-s {
      font-size: 14px;
    }
    .button--size-m {
      font-size: 16px;
    }
    .button--size-l {
      font-size: 18px;
    }

    /* Typography and Roundedness */
    .button--text-upper {
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    .button--text-thin {
      font-weight: 300;
    }
    .button--text-medium {
      font-weight: 500;
    }
    .button--text-thick {
      font-weight: 600;
    }
    .button--round-s {
      border-radius: 5px;
    }
    .button--round-m {
      border-radius: 15px;
    }
    .button--round-l {
      border-radius: 40px;
    }

    /* Borders */
    .button--border-thin {
      border: 1px solid;
    }
    .button--border-medium {
      border: 2px solid;
    }
    .button--border-thick {
      border: 3px solid;
    }


    /* Simple button style */
    .button--simple {
      overflow: hidden;
      padding: 0;
      width: 230px;
    }
    .button--simple.button--inverted {
      color: #fff;
    }
    .button--simple::before {
      //content: attr(data-text);

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #75BF95;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    .button--simple.button--inverted::before {
      background: #fff;
      color: #37474f;
    }
    .button--simple > span {
      display: block;
    }
    .button--simple::before,
    .button--simple > span {
      padding: 1em 2em;
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
    .button--simple:hover {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      background-color: #2ecc71;
    }
    .button--simple:hover > span {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      
    }

}


//Register time




.registerevent{


    input {
  outline: none;
}

#wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 55px;
}

#box {
  width: 345px;
  height: 210px;
  background-color: #fff;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 3px;
}

#top_header {
  width: 100%;
  margin: 0;
}

#top_header > h3 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 800;
  color: #378DE5;
  -webkit-text-stroke: 0.5px;
  margin: 0;

}

#top_header > h5 {
  text-align: center;
  
  font-size: 15px;
  font-weight: 300;
  color: #378DE5;
  line-height: 1.6;
  margin: 0;
  padding: 15px 0;
  color: #555;
  -webkit-text-stroke: 0.2px;
}

#inputs {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

input[type=text], input[type=password], input[type=submit] {
  width: 300px;
  height: 55px;
  position: relative;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
  padding: 15px;
  box-sizing: border-box;
  -webkit-text-stroke: 0.1px;
}

input[type=text], input[type=password] {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size:16px; 
  border: thin solid #ccc;
  border-radius: 5px;
  color: #378DE5;
}

input[type=text]:focus, input[type=password]:focus {
  border: thin solid #378DE5;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

input[type=text]:focus, input[type=password]:focus {
  border-left: thin solid #378DE5;
}


input[type=submit] {
  color: #378DE5;
  background-color: #fff;
  border: 1px solid #378DE5;
  border-radius: 5px;
 
  font-weight: 300;
  font-size: 16px;
  transition: all .3s ease;
  margin-top: 0px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #378DE5;
  color: #fff;
}

#bottom {
  width: 300px;
  margin: 0 auto;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: #282828;
  font-size: 13px;
  
  font-weight: 300;
  transition: color .3s ease;
  outline: none;
}

a:hover {
  color: #1eb056;
}

.right_a {
  float: right;
}

    
}


